<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
</head>
<body>
<div>
    <h1>Allgemeine Einstellungen</h1>
    <form th:action="@{/general}" method="post">
        <div>
            <label>
                <input type="number" name="lat" th:value="${lat}" step="any"/>
            </label>
            <label>
                <input type="number" name="lon" th:value="${lon}" step="any"/>
            </label>
            <label>
                <input type="text" name="iCal" th:value="${iCal}"/>
            </label>
            <input type="submit" value="Übernehmen"/>
        </div>
    </form>
    <h1>Bildschirm Einstellungen</h1>
    <form th:action="@{/display}" method="post">
        <div>
            <label>
                <input type="checkbox" name="checkbox">
            </label>
            <input type="submit" value="Aktualisieren">
        </div>
    </form>

    <form th:action="@{/run}" method="post">
        <div>
            <input type="submit" value="Bildschirm neu laden">
        </div>
    </form>
</div>
</body>
</html>